@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,400;1,500;1,800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#mainbox {
    /* temp border */
    border-width: 1px;
    border-style: solid;
    border-color: black;

    width: 500px;
    height: 400px;
}

.fa-truck-monster{
    color: blue;
    font-size: 50px;
    transform: rotate(90deg);
}

/* first row */ 
.userIcon{
    background-color: #92c449;
    width: 125px;
    height: 125px;
    border-radius: 100%;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; /* veertical */

    border: solid 1px #92c449;
    padding: 5px;
    background-clip: content-box; /* support: IE9+ */
}
.fa-user{
    font-size: 70px;
    color: white;
}

.row {}
.center {
    display: flex;
    justify-content: center;
}

/*  second row */
h1 {
    text-transform: uppercase;
    font-weight: 400;
}

/* third row - form */

.frmInput{
    background-color: #00c1f6;
    border: solid 1px #00c1f6;
    padding: 5px;
    background-clip: content-box; 
    width: 60%;
    height: 35px;
    border-radius: 25px;
    color: white;
    outline: none;
}

.frmInput::content {
    padding-left: 25px;
}
.frmInput::placeholder {
    color: white;
    text-transform: capitalize;
    position: relative;
    left: 25px;
    top: 1px;
}

.fa-solid {
    width: 25px;
    color: #6d7880;
    font-size: 20px;
}

.frmRow {
    display: flex;
    align-items: center;
    margin: 7px;
}